A_Task_for_Interview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Assign_Value_in_tempOrderProduct</name>
        <label>Assign Value in tempOrderProduct</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>tempOrderProduct.OrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_the_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOrderProduct.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Opp_Line_Items.PricebookEntry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOrderProduct.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Opp_Line_Items.Product2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOrderProduct.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Opp_Line_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOrderProduct.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Opp_Line_Items.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempOrderProduct.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_All_Opp_Line_Items.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Colection_of_OrderProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Colection_of_OrderProduct</name>
        <label>Collection of OrderProduct</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>orderProduct</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempOrderProduct</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_All_Opp_Line_Items</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ExpairyDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.CloseDate}+2</expression>
    </formulas>
    <interviewLabel>A Task for Interview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create an Order and corresponding Order Line Items.</label>
    <loops>
        <name>Loop_Through_All_Opp_Line_Items</name>
        <label>Loop Through All Opp Line Items</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Opp_Line_Item</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Value_in_tempOrderProduct</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Order_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Order_Line_Items</name>
        <label>Create Order Line Items</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <inputReference>orderProduct</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_the_Order</name>
        <label>Create the Order</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_All_Opp_Line_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerAuthorizedById</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerAuthorizedDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>ExpairyDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Opp_Line_Item</name>
        <label>Get All Opp Line Item</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_All_Opp_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_the_Order</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityLineItem_Current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>OpportunityLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>orderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>tempOrderProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
